/* --------------   GLOBAL RESET   --------------------- */
* {
	margin: 0;
	padding: 0;
}

/* --------------   GLOBAL STYLING   --------------------- */

body {
  background-color: rgb(72,72,72);
}




/* --------------   HEADER   --------------------- */

h1 {
  font-weight: bolder;
  font-size: 4em;
  color: black;
}

h2 {
  color: rgb(60,32,32);
  font-weight: bold;
}

h4 {
  display: inline;
  padding-left: 1em;
  font-size: 0.75em;
}




/* --------------   BODY   --------------------- */




/* --------------   NAVBAR   --------------------- */

.custom-one {
  /* I need to change the color for the navbar */
  /* background-color: rgba(32, 32, 32, 0.7);  */
}

.nav-img-logo {
  max-height: 4em;
  max-width: 8em;
}




/* --------------   FOOTER   --------------------- */




/* --------------   GALLERY   --------------------- */